:host {
    --content-padding: 10px;
}
header {
    display: block;
    height: 60px;
    padding: var(--content-padding);
    box-shadow: 0 5px 25px var(--shadow-color);
}
.title {
    color: var(--primary-color);
}
.main-table {
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.input-table {
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
}
.main-board {
    border: 2px solid black;
    color: black;
}
tr {
    font-size: 42px;
}
span {
    width: 50px;
    height: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 5px;
    border: 1px solid #80c680;
}
.cell {
}
.block {
    border: 2px solid black;
    border-collapse: collapse;
}
.odd {
    background: white;
}
.even {
    background: #e0f1f1;
}
.top {
}
.middle {
}
.bottom {
}
.row {
}
.error {
    color: darkred;
    background-color: orange;
}
.filled-highlight {
    color: #6186ee;
    background-color: yellow;
}
.filled {
    color: #4a0c4a;
}
.highlight {
    background-color: yellow;
}
.input-value {
    font-size: 56px;
    continue: overflow;
    display: inline-block;
    border: 0;
}
.selected {
    color: white;
}
.any-unused {
    color: aquamarine;
}
.none-unused {
    color: dimgrey;
}
.unsolved {
    font-size: 16px;
    color: white;
    vertical-align: baseline;
}
